# Адрес серверного API
VITE_API_BASE_URL=http://localhost:8000

# Web API Key карт AMap
VITE_AMAP_WEB_KEY=your_amap_web_api_key_here
# JS API Key карт AMap для веб-клиента
VITE_AMAP_WEB_JS_KEY=your_amap_web_js_key_here